.wrapper {
  position: absolute;
  bottom: 0;
  margin: 5px 10px;
}
.tittle {
  font-size: 12px;
  color: rgba(247, 243, 243, 0.712);
}
.wrapper span {
  color: rgba(247, 243, 243, 0.712);
font-size: 14px;
}
@media (max-width: 681px) {
  .wrapper {
    display: none;
  }

}