@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

button {
  cursor: pointer;
  font-family: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: calc(100vh - 64px);
  font-family: 'Work Sans', sans-serif;
}

.mainBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 596px;
  width: 596px;
}

.title,
.levelTitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 44px;
  margin: 100px 0;
}

.levelBackBtn,
.backBtn,
.gameBtn {
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #6573c3;
  margin: 25px;
  width: 60%;
  height: 40px;
  transition: transform 0.4s ease-in-out;
  font-size: 20px;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #313131;
}

.levelBackBtn {
  box-shadow: 3px 3px 15px #f5f5f7c7;
}

.levelBackBtn:hover,
.gameBtn:hover,
.backBtn:hover {
  transform: scale(1.2);
}

.description {
  padding: 0 60px;
  margin: 25px 0;
  text-align: center;
  font-size: 18px;
}

.gameTitle {
  margin: 100px 0 50px 0;
  font-size: 46px;
  font-family: 'Roboto Condensed', sans-serif;
}

.gameImg {
  width: 110px;
  margin: 40px 0 0 0;
}

.selectLvlBtnWrapper {
  padding: 40px 0;
  margin: 45px;
  box-shadow: 2px 2px 5px #f5f5f74c;
  border-radius: 5px;
  background-color: #f5f5f7c7;
}

.selectLvlBtn {
  margin: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px #313131;
  transition: transform 0.4s ease-in-out;
  font-size: 20px;
  font-weight: 600;
  color: #313131;
}

.selectLvlBtn:hover {
  transform: scale(1.15);
}

.sprintBtn {
  margin-top: 0;
}

@media (max-width: 640px) {
  .mainBackground {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 296px;
    width: 296px;
  }

  .title,
  .levelTitle {
    font-size: 30px;
    margin: 35px 0 15px 0;
  }

  .levelTitle {
    margin: 25px 0 15px 0;
  }

  .gameTitle {
    margin: 35px 0 25px 0;
    font-size: 46px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .levelBackBtn,
  .backBtn,
  .gameBtn {
    width: 70%;
    font-size: 18px;
    margin: 10px;
    height: 30px;
  }

  .gameBtn:first-child {
    margin-top: 40px;
  }

  .description {
    padding: 0 10px;
    margin: 10px 0;
    text-align: center;
    font-size: 13px;
  }
  
  .gameTitle {
    font-size: 27px;
  }

  .gameImg {
    width: 50px;
    margin-top: 10px;
  }

  .backBtn:hover {
    transform: scale(1.05);
  }

  .selectLvlBtn {
    margin: 15px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #313131;
  }
  
  .selectLvlBtn:hover {
    transform: scale(1.05);
  }
  
  .selectLvlBtnWrapper {
    padding: 5px 0;
    margin: 10px 45px;
  }
}