@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.audio-challenge {
    width: 100%;
    height: calc(100vh - 64px);
    font-family: 'Work Sans', sans-serif;
    background: rgb(0,21,36);
    background: linear-gradient(0deg, rgba(0,21,36,1) 0%, rgba(0,66,101,0.8627160336790967) 39%, rgba(0,106,129,0.526581579897584) 100%, rgba(0,180,255,0.33610538942139356) 100%);
}

.audio-challenge__progress {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    color: #313131;
}

.diagram {
    position: absolute;
    display: inline-flex;
    top: 20px;
    left: 30px;
}

.process {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process p {
    font-size: 13px;
}

.audio-challenge__header {
    position: relative;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-family: 'Roboto Condensed', sans-serif;
}

.audio-challenge__content {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content__container {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.content__image {
    width: 200px;
    height: 140px;
    border-radius: 50%;
}

.content__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__volume {
    width: 60px;
    background-color: #f5f5f77b;
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.4s;
}

.content__volume_active {
    width: 100px;
}

.content__word {
    font-size: 30px;
    padding: 0 10px;
}

.content__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

.list__item {
    list-style: none;
    background-color: #f5f5f77b;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.content__button:hover,
.content__volume:hover {
    background-color: #F5F5F7;
}

.list__item_red {
    background-color: #844230;
}

.list__item_green {
    background-color: #30843d;
}

.list__item_inactive {
    cursor: auto;
}

.content__button {
    width: 180px;
    height: 40px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 18px;
    cursor: pointer;
    background-color: #f5f5f77b;
    border: 3px solid #F5F5F7;
    transition: background-color 0.5s;
    letter-spacing: 2px;
    overflow: hidden;
    position: relative;
}
  
.content__button:focus {
    outline: none;
}

.invisible {
    display: none;
}