{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
		"react-app/jest",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "tsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "no-console": "warn",
    "quotes": [
			"warn",
			"single"
		],
    "@typescript-eslint/no-non-null-assertion": "off"
  }
}
